services:
  app:
    image: ${IMAGE_APP:-fakebnb-app}
    env_file:
      - ./.env
    labels:
      - traefik.enable=true
      - traefik.docker.network=traefik_public
      - traefik.http.routers.fakebnb-app.rule=Host(`fakebnb.mazbaz.fr`)
      - traefik.http.routers.fakebnb-app.entrypoints=websecure
      - traefik.http.routers.fakebnb-app.tls=true
      - traefik.http.routers.fakebnb-app.tls.certresolver=leresolver
      - traefik.http.services.fakebnb-app.loadbalancer.server.port=80
    networks:
      - traefik_public

networks:
  traefik_public:
    external: true
